body {
  margin: 0px;
  padding: 0px;
  min-width: 100vw;
  height: 100vh;
  display: grid;
  background-color: #eeeeee;
  grid-template-columns: 1.4fr 3fr 1fr;
  position: relative;
  font-family: "NanumBarunpen";
}
.notice {
  display: none;
}

.notice[show="true"] {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.431);
}

.notice strong {
  font-family: "PyeongChangPeace-Bold";
  font-size: 200px;
  margin: auto;
}

.setting {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  padding: 0;
}

img {
  width: 50px;
  height: 50px;
}

.player {
  background-color: white;
  height: 70px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 20px;
}

.player img {
  height: 68px;
  width: 68px;
  margin-left: 55%;
}

.left {
  display: flex;
  gap: 5%;
  flex-direction: column;
  padding: 25px 20px;
}

.logo {
  border-radius: 150%;
  background-color: white;
  width: 70px;
  height: 70px;
}

.logo img {
  width: 70px;
  height: 70px;
}

.players {
  display: flex;
  gap: 5%;
  width: 100%;
}

.players[turn="true"] div img {
  border-radius: 100px;
  outline: 10px solid purple;
}

button:hover {
  cursor: pointer;
}

.right {
  display: flex;
  gap: 5%;
  flex-direction: column;
  padding: 25px 20px;
  font-size: 15px;
  position: relative;
}

.counter {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 30px;
  position: absolute;
  top: 50px;
  left: 0px;
}

.counter img {
  width: 30px;
  height: 30px;
}

.roll {
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 10px;
  height: 100px;
  font-size: 30px;
  font-family: "NanumBarunpen", sans-serif;
  border-radius: 15px;
  display: flex;
  padding-right: 30px;
  bottom: 50px;
}

.roll img {
  width: 80px;
  height: 80px;
  flex-grow: 1;
}

.roll span {
  margin: auto;
}

.map {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.map > div {
  display: flex;
  gap: 2px;
  justify-content: space-between;
}

.cell {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-sizing: border-box;
}

.cell span {
  font-family: "NanumBarunpen";
  font-size: 1rem;
  text-align: center;
  margin: auto;
  padding: 6px;
}

.cell[isCorner="false"]::before {
  content: "";
  width: 100%;
  height: 25px;
}

#cell_1 {
  background-color: #4f79ceaf;
}

:is(#cell_2, #cell_3, #cell_4, #cell_5, #cell_6, #cell_7)::before {
  background-color: #acdfff6c;
}

#cell_8 {
  background-color: #5ac0ff9a;
}

:is(#cell_9, #cell_10, #cell_11, #cell_12, #cell_13, #cell_14)::before {
  background-color: #3098d9;
}

#cell_15 {
  background-color: #9295df97;
}

:is(#cell_16, #cell_17, #cell_18, #cell_19, #cell_20, #cell_21)::before {
  background-color: #a6a8d7;
}

#cell_22 {
  background-color: #efbcd5b5;
}

:is(#cell_23, #cell_24, #cell_25, #cell_26, #cell_27, #cell_28)::before {
  background-color: #f7b0d3;
}

.corner {
  position: absolute;
}

.corner:is(:nth-child(1), :nth-child(2)) {
  top: 0;
}

.corner:is(:nth-child(3), :nth-child(4)) {
  bottom: 0;
}

.corner:is(:nth-child(1), :nth-child(3)) {
  left: 0;
}

.corner:is(:nth-child(2), :nth-child(4)) {
  right: 0;
}

.dice {
  position: absolute;
  top: calc(50% - 50px);
  left: 0;
  right: 0;
  text-align: center;
  font-family: "PyeongChangPeace-Bold";
  font-size: 100px;
}

/* 모달창 스타일 */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 375px;
  height: 570px;
  background-color: transparent;
  perspective: 1000px;
  top: calc(100vh + 50%);
}

.modal-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.modal:hover .modal-inner {
  transform: rotateY(180deg);
}

.modal-front,
.modal-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* 이미지 스타일 */
.modal-front img {
  width: 100%; /* 이미지를 컨테이너 크기에 맞춤 */
  height: 100%; /* 이미지를 컨테이너 크기에 맞춤 */
}

.modal-back {
  transform: rotateY(180deg);
}

.modal-back {
  position: relative;
}

.modal-back .main-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.modal-back .overlay-image {
  position: absolute;
  top: 24%;
  left: 40px;
  width: calc(100% - 80px);
  height: auto;
  z-index: 2;
}

.modal-back .overlay-text {
  position: absolute;
  top: 80%;
  left: 40px;
  width: calc(100% - 80px);
  text-align: center;
  z-index: 3;
  color: black;
  font-size: 20px;
}

.explain {
  position: absolute;
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 270px;
  overflow: hidden;
}

.explain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.overlaytext1,
.overlaytext2,
.overlaytext3 {
  position: absolute;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 20px;
}

.dice-image {
  display: none;
  position: fixed;
  width: 200px;
  height: 200px;
  left: calc(50vw - 100px);
  top: calc(50vh - 100px);
  margin: auto;
  border-radius: 15px;
}

.dice-image[active] {
  display: flex;
}
.overlaytext1 {
  top: 40%;
}

.overlaytext2 {
  top: 55%;
}

.overlaytext3 {
  top: 70%;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

@media (max-width: 2000px) {
  .player {
    height: 70px;
    padding-left: 10px;
    font-size: 25px;
  }

  .player img {
    height: 70px;
    width: 70px;
    margin-left: 48%;
  }

  .logo {
    border-radius: 150%;
    background-color: white;
    width: 70px;
    height: 70px;
  }

  .logo img {
    width: 70px;
    height: 70px;
  }

  .counter {
    font-size: 35px;
  }

  .counter img {
    width: 35px;
    height: 35px;
  }

  .roll {
    height: 100px;
    font-size: 35px;
  }

  .roll img {
    width: 75px;
    height: 75px;
  }

  .explain {
    width: 300px;
    height: 350px;
    left: 140px;
  }

  .overlaytext1,
  .overlaytext2,
  .overlaytext3 {
    font-size: 28px;
  }
}

@media (max-width: 1950px) {
  .player img {
    margin-left: 45%;
  }
}

@media (max-width: 1900px) {
  .player img {
    margin-left: 40%;
  }
}

@media (max-width: 1850px) {
  .player img {
    margin-left: 38%;
  }
}

@media (max-width: 1850px) {
  .player img {
    margin-left: 35%;
  }

  .roll {
    width: 230px;
    font-size: 22px;
  }
}

@media (max-width: 1800px) {
  .player img {
    margin-left: 30%;
  }
}

@media (max-width: 1750px) {
  .player img {
    margin-left: 25%;
  }
}

@media (max-width: 1500px) {
  .player {
    height: 50px;
    padding-left: 10px;
    font-size: 15px;
  }

  .player img {
    height: 50px;
    width: 50px;
    margin-left: 50%;
  }

  .logo {
    border-radius: 150%;
    background-color: white;
    width: 50px;
    height: 50px;
  }

  .logo img {
    width: 50px;
    height: 50px;
  }

  .counter {
    font-size: 25px;
  }

  .counter img {
    width: 25px;
    height: 25px;
  }

  .roll {
    height: 80px;
    font-size: 18px;
  }

  .roll img {
    width: 65px;
    height: 65px;
  }

  .explain {
    width: 210px;
    height: 240px;
    left: 120px;
  }

  .overlaytext1,
  .overlaytext2,
  .overlaytext3 {
    font-size: 20px;
  }
}

@media (max-width: 1400px) {
  .player {
    height: 50px;
    padding-left: 10px;
    font-size: 15px;
  }

  .player img {
    height: 50px;
    width: 50px;
    margin-left: 48%;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .logo img {
    width: 50px;
    height: 50px;
  }

  .counter {
    font-size: 25px;
  }

  .counter img {
    width: 25px;
    height: 25px;
  }

  .roll {
    height: 80px;
    font-size: 18px;
  }

  .roll img {
    width: 65px;
    height: 65px;
  }

  .explain {
    width: 210px;
    height: 240px;
    left: 120px;
  }

  .overlaytext1,
  .overlaytext2,
  .overlaytext3 {
    font-size: 20px;
  }
}

@media (max-width: 1400px) {
  .player img {
    margin-left: 40%;
  }
}

@media (max-width: 1300px) {
  .player img {
    margin-left: 20%;
  }
}

@media (max-width: 1200px) {
  .player {
    height: 40px;
    padding-left: 10px;
    font-size: 10px;
  }

  .player img {
    height: 40px;
    width: 40px;
    margin-left: 17%;
  }

  .logo {
    border-radius: 150%;
    background-color: white;
    width: 40px;
    height: 40px;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }

  .counter {
    font-size: 20px;
  }

  .counter img {
    width: 20px;
    height: 20px;
  }

  .roll {
    height: 70px;
    font-size: 20px;
  }

  .roll img {
    width: 60px;
    height: 60px;
  }

  .explain {
    width: 210px;
    height: 240px;
    left: 120px;
  }

  .overlaytext1,
  .overlaytext2,
  .overlaytext3 {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .player {
    height: 30px;
    padding-left: 10px;
    font-size: 7px;
  }

  .player img {
    height: 30px;
    width: 30px;
    margin-left: 25%;
  }

  .logo {
    border-radius: 150%;
    background-color: white;
    width: 30px;
    height: 30px;
  }

  .logo img {
    width: 30px;
    height: 30px;
  }

  .counter {
    font-size: 10px;
  }

  .counter img {
    width: 10px;
    height: 10px;
  }

  .roll {
    height: 60px;
    font-size: 15px;
  }

  .roll img {
    width: 50px;
    height: 50px;
  }

  .explain {
    width: 210px;
    height: 240px;
    left: 120px;
  }

  .overlaytext1,
  .overlaytext2,
  .overlaytext3 {
    font-size: 10px;
  }
}

@media (max-width: 900px) {
  .player {
    height: 30px;
    padding-left: 10px;
    font-size: 7px;
  }

  .player img {
    height: 30px;
    width: 30px;
    margin-left: 30%;
  }

  .logo {
    border-radius: 150%;
    background-color: white;
    width: 30px;
    height: 30px;
  }

  .logo img {
    width: 30px;
    height: 30px;
  }

  .counter {
    font-size: 10px;
  }

  .counter img {
    width: 10px;
    height: 10px;
  }

  .roll {
    height: 60px;
    font-size: 15px;
  }

  .roll img {
    width: 50px;
    height: 50px;
  }

  .explain {
    width: 210px;
    height: 240px;
    left: 120px;
  }

  .overlaytext1,
  .overlaytext2,
  .overlaytext3 {
    font-size: 7px;
  }
}

@media (max-width: 700px) {
  .player {
    height: 20px;
    padding-left: 10px;
    font-size: 5px;
  }

  .player img {
    height: 20px;
    width: 20px;
    margin-left: 0%;
  }

  .logo {
    border-radius: 150%;
    background-color: white;
    width: 20px;
    height: 20px;
  }

  .logo img {
    width: 20px;
    height: 20px;
  }

  .counter {
    font-size: 10px;
  }

  .counter img {
    width: 10px;
    height: 10px;
  }

  .roll {
    height: 60px;
    font-size: 15px;
  }

  .roll img {
    width: 50px;
    height: 50px;
  }

  .explain {
    width: 210px;
    height: 240px;
    left: 120px;
  }

  .overlaytext1,
  .overlaytext2,
  .overlaytext3 {
    font-size: 4px;
  }
}
.cap1 {
  z-index: 1000;
  width: 30px;
  height: 30px;
  position: fixed;
}
.cap2 {
  z-index: 1000;
  width: 30px;
  height: 30px;
  position: fixed;
}
.cap3 {
  z-index: 1000;
  width: 30px;
  height: 30px;
  position: fixed;
}
