@font-face {
  font-family: "NanumBarunpen";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 0px;
  width: 1800px;
  height: 800px;
  margin: auto;
  border: 10px solid black;
  border-radius: 20px;
  position: relative;
  background-color: beige;
  padding-top: 5px;
  padding-bottom: 50px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; /* 새로운 줄로 넘어가도록 설정 */
  justify-content: center; /* 가로축 중앙 정렬 */
  align-items: center; /* 세로축 중앙 정렬 */
}

.user {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 10vh;
  margin-top: 0%;
  margin-bottom: 6%;
  margin-left: 3%;
  margin-right: 3%;
}

.user img {
  display: block;
  height: 250px;
  margin: -25px auto;
  z-index: 2;
}

.user input {
  text-align: center;
  font-size: 2.5vh;
  margin: 20px auto;
  padding: 6px;
  z-index: 3;
}

#play-count {
  font-family: "NanumBarunpen";
  position: absolute;
  font-size: 30px;
  left: 70%;
  bottom: 12px;
}

#plus {
  font-family: "NanumBarunpen";
  height: 30px;
  font-size: 30px;
  border: none;
}

#minus {
  font-family: "NanumBarunpen";
  border: none;
  font-size: 30px;
  height: 30px;
}

#btn {
  font-family: "NanumBarunpen";
  height: 50px;
  width: 220px;
  font-size: 30px;
  background-color: blanchedalmond;
  position: absolute;
  left: 44%;
  bottom: 5px;
  cursor: pointer;
}

@media (max-width: 1500px) {
  .container {
    width: 1300px;
  }
  .user img {
    height: 200px;
  }
  #btn {
    left: 41%;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 1100px;
  }
  .user img {
    height: 180px;
  }

  #btn {
    left: 40%;
  }
}

@media (max-width: 1100px) {
  .container {
    width: 900px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3px;
  }
  .user img {
    height: 130px;
  }
  #btn {
    left: 38%;
  }
}

@media (max-width: 900px) {
  .container {
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }
  .user img {
    height: 130px;
  }
  .user input {
    width: 200px;
  }
  #btn {
    left: 36%;
  }

  #play-count {
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 600px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }
  .user img {
    height: 120px;
  }
  .user input {
    width: 150px;
  }
  #btn {
    width: 150px;
    left: 37%;
  }

  #play-count {
    font-size: 20px;
    height: 40px;
    left: 67%;
  }
}
